p {
  color: red;
}
.p {
  color: black;
}

button {
  color: blue;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.outer > p {
  color: green;
}

div.outer p[name='test'] {
  color: green;
}

p:hover,
div.outer p[name='test']:hover {
  color: red;
}

p::after {
  content: 'hey';
}

body {
  box-sizing: border-box;
}