.clearAll {
  border: 1px solid green;
  color: green;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  padding: 1em 0em 1em 0em;
  margin: 1em 1em 0.5em 0.5em;
}

.title {
  background-color: rgb(225, 240, 60);
}